.container {
    margin: 0 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .main_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin: 10px 0;
        margin-bottom: 20px;
        max-height: 68vh;
        overflow: scroll;
        overflow-x: hidden;

        mat-card {
            width: 90%;
        }
    }
}

.accordion {
    margin-bottom: 10px;
}

.card {
    box-shadow: none;

    mat-card-title-group {
        display: flex;
        flex-wrap: wrap;
    }

    .h_block {
        font-size: 16px;
        font-weight: 500;
        margin: 5px 0;
    }

    .label_gen_block {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
    }

    .char_block {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .span_char {
        font-weight: 500;
    }
}

.card_product {
    row-gap: 10px;
}

.products {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    button {
        width: 100%;
        margin-bottom: 5px;
    }

    mat-card {
        width: 100% !important;
    }
}

.blocked {
    background-color: rgb(255, 213, 213);
}

.buttons {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;

    .but {
        flex-grow: 1;
    }
}

.key_card {
    margin-bottom: 10px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
        max-height: 36px;
    }
}

.button_review{
    align-self: center;
    max-width: 150px;
}

@media screen and (max-width: 700px) {
    .form {
        flex-direction: column;
    }
}